<html>
	<body>

	<style>
	input{
		width: 19%;
		padding: 4%;
		height: 50px;
	}
	</style>

	<h1>Fan Control</h1>
	<form method='post'>
		<input type='submit' value='On' name='on'>
		<input type='submit' value='Off' name='off'>
		<input type='submit' value='30 Minutes' name='thirty'>
		<input type='submit' value='One Hour' name='hour'>
		<input type='submit' value='Two Hours' name='twohour'>

	</form>

	<h1>Fan Status</h1>
	<p>{{status}}</p>
	
	<h1>Timers currently active</h1>
	<p>{{timeLeft}}</p>
	
	</body>
</html>
